<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .mt-5 {
            margin-top: 5rem !important;
        }
        .dark-bg {
            background-color: #343a40 !important;
        }
        .white-text {
            color: white !important;
        }
        .card-column {
            flex: 0 0 calc(25% - 1rem); /* 4 cards per row */
            margin: 0.5rem;
        }
        .flex-container {
            display: flex;
            align-items: center;
            margin-top: 5rem;
        }
        .flex-container .btn {
            margin-right: 1rem;
        }
        .highlight {
            background-color: #20c997;
            padding: 0.5rem;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #198754;">
        <div class="container">
            <a class="navbar-brand" href="/movies/search"><i class="fas fa-film" style="margin-right: 10px; font-size: 1.7rem;"></i>Movies-World</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/movies/search">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/movies/home">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <button id="toggleColorScheme" class="btn btn-light">Change Mode</button>
                    </li>
                </ul>
                <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-link text-capitalize">Hello, you are logged in</a>                
                    <a href="/auth/logout" class="btn btn-success">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container flex-container highlight">
        <a href="/movies/home" class="btn btn-warning">Create list by clicking on this button</a>
        <p class="mb-0">Please make a list before adding any data and search the movies  to add in list.</p>
    </div>

    <div class="container">
        <h1 class="text-center mt-3">Movie Info Application</h1>
        <h3 class="mt-2">Search Movies</h3>
        <form action="/movies/search" method="GET" class="mt-3">
            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Search movies" required>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Search</button>
        </form>
        <div class="row mt-5">
            <% movies.forEach(movie => { %>
                <div class="col card-column">
                    <div class="card mb-4">
                        <div class="card-body h-100">
                            <img class="card-img-top h-100" src="<%= movie.Poster %>" alt="Movie Poster">
                            <h5 class="card-title"><%= movie.Title %></h5>
                            <p class="card-text">Year: <%= movie.Year %></p>
                            <form action="/lists/add" method="POST">
                                <input type="hidden" name="movieId" value="<%= movie.imdbID %>">
                                <div class="form-group">
                                    <label for="listId">Add to List:</label>
                                    <select name="listId" class="form-control" id="listId">
                                        <% lists.forEach(list => { %>
                                            <option value="<%= list._id %>"><%= list.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">Add to List</button>
                            </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>

        <h1 class="mt-5">Most Popular</h1>
        <div class="row mt-5" id="popularMovies"></div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- <script>
            $(document).ready(function() {
                function displayMovies(movieTitles) {
                    var moviesHtml = "";
                    var url = "http://www.omdbapi.com/?apikey=97641cc1";

                    movieTitles.forEach(function(title) {
                        $.ajax({
                            method: 'GET',
                            url: url + "&t=" + title,
                            success: function(data) {
                                if (data.Response === "True") {
                                    moviesHtml += `
                                    <div class="col card-column">
                                        <div class="card h-100">
                                            <img class="card-img-top h-100" src="${data.Poster}" alt="Movie Poster">
                                            <div class="card-body">
                                                <h5 class="card-title">${data.Title}</h5>
                                                <p class="card-text"><strong>Released:</strong> ${data.Released}</p>
                                                <p class="card-text"><strong>Genre:</strong> ${data.Genre}</p>
                                                <p class="card-text"><strong>Director:</strong> ${data.Director}</p>
                                            </div>
                                            <form action="/lists/add" method="POST">
                                                <div class="form-group">
                                                    <label for="listId">Add to List:</label>
                                                    <select name="listId" class="form-control" id="listId">
                                                       
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary mt-2">Add to List</button>
                                            </form>
                                        </div>
                                    </div>`;
                                    $("#popularMovies").html(moviesHtml);
                                }
                            },
                            error: function(xhr, status, error){
                                console.error("Error: " + error);
                            }
                        });
                    });
                }

                var popularMovies = ["Inception", "The Dark Knight", "Interstellar", "The Matrix", "Fight Club", "players", "one piece", "Shinchan", "tom and jerry", "pokemon", "avengers", "jungle"];
                displayMovies(popularMovies);
            }); -->
            <script>
                $(document).ready(function() {
                    function displayMovies(movieData) {
                        var moviesHtml = "";
                        movieData.Search.forEach(function(movie) {
                            moviesHtml += `
                            <div class="col card-column">
                                <div class="card h-100">
                                    <img class="card-img-top h-100" src="${movie.Poster}" alt="Movie Poster">
                                    <div class="card-body">
                                        <h5 class="card-title">${movie.Title}</h5>
                                        <p class="card-text"><strong>Year:</strong> ${movie.Year}</p>
                                        <p class="card-text"><strong>Type:</strong> ${movie.Type}</p>
                                    </div>
                                    
                                </div>
                            </div>`;
                        });
                        $("#popularMovies").html(moviesHtml);
                    }
                
                    var movieData = {
                        "Search": [
                            {
                                "Title": "The Avengers",
                                "Year": "2012",
                                "imdbID": "tt0848228",
                                "Type": "movie",
                                "Poster": "https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg"
                            },
                            
    {
      Title: "Avengers: Endgame",
      Year: "2019",
      imdbID: "tt4154796",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_SX300.jpg",
    },
    {
      Title: "Avengers: Infinity War",
      Year: "2018",
      imdbID: "tt4154756",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BMjMxNjY2MDU1OV5BMl5BanBnXkFtZTgwNzY1MTUwNTM@._V1_SX300.jpg",
    },
    {
      Title: "Avengers: Age of Ultron",
      Year: "2015",
      imdbID: "tt2395427",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BMTM4OGJmNWMtOTM4Ni00NTE3LTg3MDItZmQxYjc4N2JhNmUxXkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_SX300.jpg",
    },
    {
      Title: "The Avengers",
      Year: "1998",
      imdbID: "tt0118661",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BZTQ4NmIzMTktOTdjOC00NzE4LWIzNTgtODkwNzM5ZjUzZDkxXkEyXkFqcGdeQXVyMTUzMDUzNTI3._V1_SX300.jpg",
    },
    {
      Title: "The Avengers: Earth's Mightiest Heroes",
      Year: "2010–2012",
      imdbID: "tt1626038",
      Type: "series",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BYzA4ZjVhYzctZmI0NC00ZmIxLWFmYTgtOGIxMDYxODhmMGQ2XkEyXkFqcGdeQXVyNjExODE1MDc@._V1_SX300.jpg",
    },
    {
      Title: "Ultimate Avengers: The Movie",
      Year: "2006",
      imdbID: "tt0491703",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BMTYyMjk0NTMwMl5BMl5BanBnXkFtZTgwNzY0NjAwNzE@._V1_SX300.jpg",
    },
    {
      Title: "Ultimate Avengers II",
      Year: "2006",
      imdbID: "tt0803093",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BZjI3MTI5ZTYtZmNmNy00OGZmLTlhNWMtNjZiYmYzNDhlOGRkL2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg",
    }, {
      Title: "Dasham Avatar",
      Year: "2023",
      imdbID: "tt27561990",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BYzE3NTNjNTgtY2MzOC00MDgwLTk0MjktNzVjNmQzMjc3YTQ3XkEyXkFqcGdeQXVyMTUzNTgzNzM0._V1_SX300.jpg",
    },
    {
      Title: "Avatar: The Last Airbender - The Legend of Aang",
      Year: "2006",
      imdbID: "tt0959552",
      Type: "game",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BNjUwNzA5Nzc4N15BMl5BanBnXkFtZTgwNjM1ODY4MDE@._V1_SX300.jpg",
    },
    {
      Title: "Avatar: The Game",
      Year: "2009",
      imdbID: "tt1517155",
      Type: "game",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BMTYxODI2OTI4MF5BMl5BanBnXkFtZTcwNjI1NzMwMw@@._V1_SX300.jpg",
    },
    {
      Title: "Avatar: The Last Airbender - The Legend So Far",
      Year: "2005",
      imdbID: "tt1605838",
      Type: "movie",
      Poster:
        "https://m.media-amazon.com/images/M/MV5BZGQ1ZTNmNzItNGYyMC00MDk2LWJiZDAtZTkwZDFlNWJlYTVjXkEyXkFqcGdeQXVyODUxNDExNTg@._V1_SX300.jpg",
    },
    
                            // Add other movie objects here
                        ]
                    };
                
                    displayMovies(movieData);
                });
                

            $(document).ready(function() {
                $('#toggleColorScheme').click(function() {
                    $('body').toggleClass('dark-bg');
                    $('.navbar').toggleClass('dark-bg');
                    $('.nav-link').toggleClass('white-text');
                    $('.navbar-brand').toggleClass('white-text');
                    $('#toggleColorScheme').toggleClass('btn-dark');
                });
            });
        </script>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
